--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio
# transformers==4.25.1
# timm==0.4.9
# #decord
# ftfy
# oss2
# opencv-python
# more_itertools
# colorlog
# ruamel.yaml==0.16.7
# wandb